.forecastContainer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 11px;
  margin: 0 0 10px 0;
  backdrop-filter: blur(6px);
}

@media (max-width: 597px) {
  .forecastContainer {
    width: 85vw;
  }
}