.forecastContainer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 0 0 10px 0;
}

.forecast {
  display: block;
  overflow: auto;
  white-space: nowrap;
}

.forecastBox {
  display: inline-block;
  margin: 10px;
  min-width: 60px;
  min-height: 60px;
}

.weatherBox {
  text-align: center;
}

.weatherBox > p {
  margin: 0;
}

.weatherBox > img {
  margin: -10px;
}

@media (max-width: 724px) {
  .forecastContainer {
    width: 530px;
  }
}

@media (max-width: 597px) {
  .forecastContainer {
    width: 85vw;
  }
}