#root {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.alignCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.currentWeather{
  text-align: center;
}

.error{
  color: rgb(221, 34, 34);
}

@media (max-width:500px){
  #root{
    padding: 10px;
  }
}
